/*4 - External CSS*/
body{
    padding-bottom: 500px;
}

h3{
    color: green;
}


p{
    color: blueviolet;
}

.paragrafo{
    background-color: #000;
    color:aqua;
    padding: 5px;
}

#exclusivo{
    background-color: purple;
    color: gold;
    padding: 10px;
}


h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum{
    border-bottom: 4px solid green;
}

.colorname{
    color:rgb(194, 47, 76);
}

.hex{
    color:#55a398;
}

.hex2{
    color: #dd12ad;
}